@page "/smarttextarea/webassembly"
@rendermode InteractiveWebAssembly
@using SmartComponents

<h3>SmartTextArea testcases (WebAssembly)</h3>

<IsInteractiveIndicator />

<p>
    <div>Default suggestion display (inline on desktop):</div>
    <SmartTextArea @bind-Value="@text" UserRole="@userRole" UserPhrases="@userPhrases"
                   id="standard-smarttextarea" cols="100" rows="6" />    
</p>

<p>
    <div>Overlay suggestion display:</div>
    <SmartTextArea @bind-Value="@text" UserRole="@userRole" UserPhrases="@userPhrases"
                   id="with-overlay-display" data-inline-suggestions="false" cols="100" rows="6" />
</p>

<p>
    Bound value:
    <strong id="bound-text">@text</strong>
</p>

@code {
    string text = "It's 35 degrees C\n\nNext, sport.";

    string userRole = "Weather reporter";
    string[] userPhrases = [
        "That's positively sweltering!",
        "That's bracing!"
    ];
}
